- articles = [];
- for article, key in public.blog._data
	- if (key !== "index")
		- article.key = key; articles.push(article);
- articles.sort(function(a, b) {return (new Date(b.date)) - (new Date(a.date))});

//- gets everything before <!-- more -->
- function excerpt(content) {return content.split("<!-- more -->")[0];}

	
.twelve.columns
	.index-black.index-padding
	
		h3 BLOG


.index-white
	.container#blog
		
		.row
			for article in articles.slice(0,12)
				.twelve.columns
					.five.columns
						.blog-post-image-2
							a(href="/blog/#{article.key}")
								img(src="/blog/#{article.key}/article-image.jpg" alt="article image")
					.seven.columns
						.blog-post-2
							a(href="/blog/#{article.key}")
								h4= article.title
							.text-center.article-date= article.date
							p Exerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							a(href="/blog/#{article.key}")
				

.container#blog-mobile
	for article in articles.slice(0,12)
		.card.twelve.columns
			.image
				a(href="/blog/#{article.key}")
					img(src="/blog/#{article.key}/article-image.jpg" alt="article image")


			.content
				.text-center
					a(href="/blog/#{article.key}")
						h3= article.title
				.text-center.article-date= article.date
				if article.author
					.text-center: a.author-link(href="/authors/#{article.author}")=article.author
					//- .excerpt!= excerpt(partial(article.key + "/index"))
			.action
				a(href="/blog/#{article.key}") READ MORE
